{% extends "layout.html" %}

{% block titulo %}
    Login
{%endblock%}

{% block body %}
<h1 align="center">Bienvenido</h1><br>
    <div id="contenedor">
        <img class="imag" src="/static/img/logo2.png">
        <div id="login">
                    <form id="loginform">
                        <div1>
                            <img align="left" src="/static/img/login.png" width="40" height="40">
                            <h1 align="center">LOGIN</h1>
                        </div1>
                        <label for="usuario">Usuario</label>
                        <input id="usuario" type="text" name="usuario" placeholder="Usuario" required>

                        <label for="password">Contraseña</label>
                        <input id="password" type="password" placeholder="Contraseña" name="password" required>

                        <button type="submit" title="Ingresar" name="Ingresar">Login</button>

                        <button onclick="/src/templates/registro.html" type="submit" title="Registrar" name="Registrar">Registar</button>
                        <div class="pie-form">
                            <a href="#">¿Perdiste tu contraseña?</a>
                        </div>
                    </form>
            </div>
        </div>
{% endblock %}