{% extends './layout.html' %}
{% block titulo %}
    Registro
{% endblock %}


{% block body %}
    <h1>REGISTRO</h1>
    <label for="nombre">Nombre</label>
    <input type="text" name="nombre">

    <label for="apellido">Apellido</label>
    <input type="text" name="apellido">

    <label for="nacimiento"> Fecha Nacimiento</label>
    <input type="date" name="nacimiento">

    <label for="usuario">Nombre de Usuario</label>
    <input type="text" name="usuario">

    <label for="contraseña">Contraseña</label>
    <input type="password" name="contraseña">

    <label for="contraseñaconf">Confirmar Contraseña</label>
    <input type="password" name="contraseñaconf">

    <label for="correo">Correo Institucional</label>
    <input type="email" name="correo">

    <label for="carrera"> Carrera</label>
    <input type="text" name="carrera">

    <button type="submit"> Registrar </button>
    <img src="/static/img/logo.jpg" alt="1">
{% endblock %}