.main{
    height: 800px;
}

.gallery{
    width 65%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top:10 px;

}

.label {
  display: block;
  padding-left: 100px;
  text-indent: -2px;
}

input{

  width: 200px;
  height: 20px;
}