.main{
    height: 1200px;
}

.contenedor img{
    margin: auto;
    display: block;
}

.label {
  display: block;
  padding-left: 100px;
  text-indent: -2px;
}

input{

  width: 200px;
  height: 20px;
}